<h1 class="title">Ver mascota</h1>

<div class="container">
    <mat-card class="card">
        <mat-card-title>Bartolo</mat-card-title>
        <mat-card-content><strong>Raza: </strong>Labrador</mat-card-content>
        <mat-card-content><strong>Edad: </strong>Labrador</mat-card-content>
        <mat-card-content><strong>Color: </strong>Labrador</mat-card-content>
        <mat-card-content><strong>Peso: </strong>Labrador</mat-card-content>
        <mat-card-actions>
            <button routerLink="/listadoMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>