<h1 class="title">Ver mascota</h1>

<app-spinner *ngIf="loading"></app-spinner>

<div class="container" *ngIf="mascota$ | async as mascota">
    <mat-card class="card">
        <mat-card-title>{{mascota.nombre}}</mat-card-title>
        <mat-card-content><strong>Raza: </strong>{{mascota.raza}}</mat-card-content>
        <mat-card-content><strong>Edad: </strong>{{mascota.edad}}</mat-card-content>
        <mat-card-content><strong>Color: </strong>{{mascota.color}}</mat-card-content>
        <mat-card-content><strong>Peso: </strong>{{mascota.peso}}</mat-card-content>
        <mat-card-actions>
            <button routerLink="/listadoMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>